In [61]:
import pandas as pd

In [109]:
df = pd.read_excel('D:\Dev\Tetris\Data Merge\TOKOPEDIA_SAMPLE 1.xlsx')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\MasAm\AppData\Local\Temp\ipykernel_13512\3579457476.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_excel('D:\Dev\Tetris\Data Merge\TOKOPEDIA_SAMPLE 1.xlsx')

In [102]:
df.columns

Index(['Count', 'Invoice', 'Payment Date', 'Order Status', 'Product ID',
       'Product Name', 'Quantity', 'Stock Keeping Unit (SKU)', 'Notes',
       'Price (Rp.)', 'Customer Name', 'Customer Phone', 'Recipient',
       'Recipient Number', 'Recipient Address', 'Courier',
       'Shipping Price + fee (Rp.)', 'Insurance (Rp.)',
       'Total Shipping Fee (Rp.)', 'Total Amount (Rp.)', 'AWB',
       'Jenis Layanan'],
      dtype='object')

In [110]:
columns = ['Invoice',  
           'Product Name', 
           'Product Price (IDR)', 
           'Product Quantity', 
           'Shipping Fee (IDR)', 
           'Total Amount (IDR)',
           'Order Created Date', 
           'Courier Name', 
           'Order Status', 
           'Region/Province']

In [111]:
df.rename(columns = {'Payment Date' : 'Order Created Date', 
                     'Price (Rp.)' : 'Product Price (IDR)', 
                     'Quantity' : 'Product Quantity', 
                     'Total Shipping Fee (Rp.)' : 'Shipping Fee (IDR)', 
                     'Total Amount (Rp.)' : 'Total Amount (IDR)', 
                     'Courier' : 'Courier Name', 
                     'Recipient Address': 'Region/Province'}, 
                     inplace = True)

In [112]:
for i in df.columns:
    if i not in columns:
        df = df.drop([i], axis=1)

In [113]:
df = df[columns]

In [120]:
df

,Invoice,Product Name,Product Price (IDR),Product Quantity,Shipping Fee (IDR),Total Amount (IDR),Order Created Date,Courier Name,Order Status,Region/Province,Product Category
0,INV/20200101/XX/I/85797235,Seragam Sekolah SD paket lengkap,124900,32,20000,4016800,01-01-2020 00:56:02,SiCepat(Regular Package),Order Berhasil,"Jl. S. Parman No. 44 KOTA MABA, HALMAHERA TIMU...",Pakaian
1,INV/20200101/XX/I/42884671,Tas Sekolah tahan air 15.6 inch,359000,45,20000,16175000,01-01-2020 02:03:07,JNE(Reguler),Order On Process,"Jl. Jend. A. Yani No. 11 AIR PUTIH, BATU BARA,...",Accessories
2,INV/20200101/XX/I/23148317,Batik Couple modis merah maroon,119000,43,20000,5137000,01-01-2020 04:53:29,JNE(Reguler),Order On Process,"Gg. Kutai No. 830 LOBALAIN, ROTE NDAO, 85912 N...",Pakaian
3,INV/20200101/XX/I/18849345,Sepatu Sekolah leher panjang hitam bertali,434900,16,20000,6978400,01-01-2020 06:18:20,JNE(Reguler),Order Berhasil,"Gg. HOS. Cokroaminoto No. 427 BRAJA SLEBAH, LA...",Sepatu
4,INV/20200101/XX/I/18849345,Jas Hujan setelan bahan polymer,159000,13,20000,2087000,01-01-2020 06:18:20,JNE(Reguler),Order Berhasil,"Gg. HOS. Cokroaminoto No. 427 BRAJA SLEBAH, LA...",Pakaian
...,...,...,...,...,...,...,...,...,...,...,...
11995,INV/20221231/XX/XII/67848795,Tas Sekolah tahan air 15.6 inch,359000,8,20000,2892000,31-12-2022 10:46:58,SiCepat(Regular Package),Order Berhasil,"Gang Kebonjati No. 279 ALUH-ALUH, BANJAR, 7065...",Accessories
11996,INV/20221231/XX/XII/65288421,Batik Couple modis merah maroon,119000,56,20000,6684000,31-12-2022 14:34:50,JNE(Reguler),Order Berhasil,"Jalan Soekarno Hatta No. 068 CIOMAS, BOGOR, 16...",Pakaian
11997,INV/20221231/XX/XII/41454333,Jas Hujan setelan bahan polymer,159000,37,20000,5903000,31-12-2022 20:06:54,JNE(Reguler),Order Berhasil,"Jl. Pasirkoja No. 04 BONDOWOSO, BONDOWOSO, 682...",Pakaian
11998,INV/20221231/XX/XII/46859627,Sepatu Sekolah leher panjang hitam bertali,434900,7,20000,3064300,31-12-2022 21:22:24,JNE(Reguler),Order Berhasil,"Gg. Sukabumi No. 5 ABIANSEMAL, BADUNG, 80352 BALI",Sepatu
11999,INV/20221231/XX/XII/14156456,Seragam Sekolah SD paket lengkap,124900,7,20000,894300,31-12-2022 23:04:19,JNE(Reguler),Order Berhasil,"Gg. Pelajar Pejuang No. 663 PANTAR TIMUR, ALOR...",Pakaian

In [115]:
# Order Status
df['Order Status'] = df['Order Status'].apply(lambda x: 'Order Berhasil' if 'selesai' in x else x)
df['Order Status'] = df['Order Status'].apply(lambda x: 'Order Gagal' if 'tidak valid' in x else x)

In [116]:
df['Order Status'] = df['Order Status'].apply(lambda x: 'Order On Process' if 'Menunggu' in x else x)
df['Order Status'] = df['Order Status'].apply(lambda x: 'Order On Process' if 'sanan' in x else x)

In [118]:
def category(row):
   if 'Baju' in row['Product Name']:
      return 'Pakaian'
   if 'Pashmina' in row['Product Name']:
      return 'Pakaian'
   if 'Sweater' in row['Product Name']:
      return 'Pakaian'
   if 'Jas' in row['Product Name']:
      return 'Pakaian'
   if 'Seragam' in row['Product Name']:
      return 'Pakaian'
   if 'Batik' in row['Product Name']:
      return 'Pakaian'
   if 'Sepatu' in row['Product Name']:
      return 'Sepatu'
   return 'Accessories'

In [119]:
# Product Category
df['Product Category'] = df.apply(category, axis=1)

In [121]:
# Courier Service
df['Courier Service'] = df['Courier Name'].apply(lambda x: 'Same Day' if 'Same' in x else 'Regular')

In [130]:
# Courier Name

def courier_name(row):
   if 'GO-JEK' in row['Courier Name']:
      return 'GO-JEK'
   if 'JNE' in row['Courier Name']:
      return 'JNE'
   if 'SiCepat' in row['Courier Name']:
      return 'SiCepat'
   
df['Courier Name'] = df.apply(courier_name, axis=1)

In [122]:
# ECommerce
df['ECommerce'] = 'Tokopedia'

In [123]:
# Extract Province
df['Region/Province'] = df['Region/Province'].str.extract(r'(\D+$)')

In [125]:
# Date Format
df['Date']= df['Order Created Date']
df['Date'] = pd.to_datetime(df.Date, format='%d-%m-%Y %H:%M:%S')
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')
df = df.drop(['Order Created Date'], axis=1)
df.rename(columns = {'Date':'Order Created Date'}, inplace =True)

In [127]:
new_cols_order = ['Invoice', 'Product Name', 'Product Category', 'Product Price (IDR)', 'Product Quantity',
       'Shipping Fee (IDR)', 'Total Amount (IDR)',  'Order Created Date', 'Courier Name', 'Courier Service',
       'Order Status', 'Region/Province', 'ECommerce']

In [128]:
df = df[new_cols_order]

In [131]:
df

,Invoice,Product Name,Product Category,Product Price (IDR),Product Quantity,Shipping Fee (IDR),Total Amount (IDR),Order Created Date,Courier Name,Courier Service,Order Status,Region/Province,ECommerce
0,INV/20200101/XX/I/85797235,Seragam Sekolah SD paket lengkap,Pakaian,124900,32,20000,4016800,01-01-2020,SiCepat,Regular,Order Berhasil,MALUKU UTARA,Tokopedia
1,INV/20200101/XX/I/42884671,Tas Sekolah tahan air 15.6 inch,Accessories,359000,45,20000,16175000,01-01-2020,JNE,Regular,Order On Process,SUMATERA UTARA,Tokopedia
2,INV/20200101/XX/I/23148317,Batik Couple modis merah maroon,Pakaian,119000,43,20000,5137000,01-01-2020,JNE,Regular,Order On Process,NUSA TENGGARA TIMUR,Tokopedia
3,INV/20200101/XX/I/18849345,Sepatu Sekolah leher panjang hitam bertali,Sepatu,434900,16,20000,6978400,01-01-2020,JNE,Regular,Order Berhasil,LAMPUNG,Tokopedia
4,INV/20200101/XX/I/18849345,Jas Hujan setelan bahan polymer,Pakaian,159000,13,20000,2087000,01-01-2020,JNE,Regular,Order Berhasil,LAMPUNG,Tokopedia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,INV/20221231/XX/XII/67848795,Tas Sekolah tahan air 15.6 inch,Accessories,359000,8,20000,2892000,31-12-2022,SiCepat,Regular,Order Berhasil,KALIMANTAN SELATAN,Tokopedia
11996,INV/20221231/XX/XII/65288421,Batik Couple modis merah maroon,Pakaian,119000,56,20000,6684000,31-12-2022,JNE,Regular,Order Berhasil,JAWA BARAT,Tokopedia
11997,INV/20221231/XX/XII/41454333,Jas Hujan setelan bahan polymer,Pakaian,159000,37,20000,5903000,31-12-2022,JNE,Regular,Order Berhasil,JAWA TIMUR,Tokopedia
11998,INV/20221231/XX/XII/46859627,Sepatu Sekolah leher panjang hitam bertali,Sepatu,434900,7,20000,3064300,31-12-2022,JNE,Regular,Order Berhasil,BALI,Tokopedia
11999,INV/20221231/XX/XII/14156456,Seragam Sekolah SD paket lengkap,Pakaian,124900,7,20000,894300,31-12-2022,JNE,Regular,Order Berhasil,NUSA TENGGARA TIMUR,Tokopedia

In [132]:
df.to_csv('Tokopedia.csv', index=False)